pkgbase = shiro-bin
	pkgdesc = Steam one-click login companion for Kuroi
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/ZeloteZ/shiro
	arch = x86_64
	license = MIT
	depends = alsa-lib
	depends = at-spi2-core
	depends = gtk3
	depends = libdrm
	depends = libsecret
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nss
	depends = xdg-utils
	options = !strip
	install = shiro-bin.install
	source = Shiro-1.0.0.AppImage::https://github.com/ZeloteZ/shiro/releases/download/v1.0.0/Shiro-1.0.0.AppImage
	source = LICENSE::https://raw.githubusercontent.com/ZeloteZ/shiro/v1.0.0/LICENSE
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = shiro-bin